@media(max-width:992px){

.hero-container,
.promo-banner{
    grid-template-columns:1fr;
}

.hero{
    text-align:center;
}

.hero-buttons,
.hero-feature{
    justify-content:center;
}

.navbar{
    display:none;
}

.menu-toggle{
    display:block;
}

.section-title h2{
    font-size:34px;
}

.hero h1{
    font-size:44px;
}

}

@media(max-width:768px){

section{
    padding:70px 0;
}

.hero{
    padding-top:120px;
}

.hero h1{
    font-size:36px;
}

.hero-feature{
    flex-direction:column;
}

.cta h2,
.why-cta h3{
    font-size:30px;
}

.section-title h2{
    font-size:30px;
}

.floating-social{
    right:15px;
    bottom:15px;
}

.floating-social a{
    width:52px;
    height:52px;
}

}
@media (max-width:576px){

.container{
    width:94%;
}

.section-title h2{
    font-size:26px;
}

.hero h1{
    font-size:30px;
    line-height:1.3;
}

.hero-buttons{
    flex-direction:column;
}

.hero-buttons a{
    width:100%;
    justify-content:center;
}

.hero-feature{
    gap:15px;
}

.hero-feature div{
    padding:18px;
}

.mobil-grid,
.why-grid,
.testimoni-grid,
.contact-grid{
    grid-template-columns:1fr;
}

.promo-right{
    grid-template-columns:1fr;
}

.btn-header{
    display:none;
}

.logo img{
    width:140px;
}

.header .container{
    height:72px;
}

.floating-social a{
    width:48px;
    height:48px;
    font-size:20px;
}

}
